<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Hungry?{{else}}Order Up!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete Burger</button>
</li>